
/* опишем базовый стиль кнопки калькулятора */
.my-btn {
  margin-right: 10px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 0%;          /* округляем кнопку (now square) */
  border: none;                /* отключаем обводку */
  background: #51a101;         /* задаем серый (now green) цвет кнопки */
  color: pink;                /* задаем белый цвет текста внутри кнопки */
  font-size: 2rem;           /* увеличим размер шрифта */
  font-family: Times New Roman; /* сменим шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                  со стрелки на 'указательный палец' */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */

} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: darkblue; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
  font-size: 1.5rem; 
  background: #910131; /* цвет кнопки оранжевый (now beetroot) */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
  font-size: 1.5rem; 
  background: #2601a6; /* цвет кнопки серый (now blue) */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
  font-size: 1.5rem; 
  width: 110px;          /* сделаем кнопку шире других */
}

/* селектор для поля вывода результата */
.result { 
  width: 270px;
  height: 100px;
  padding-right: 10px;         /* выступ справа */
  background: rgb(70, 70, 70); /* цвет можно задавать и таким образом */
  border-radius: 34px;
  text-align: right;           /* примагнитим текст к правой стороне */
  color: #ffff00;              /* цвет текста белый */
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.small {
  font-size: small;
  width: 350px;
  height: 100px;
}